<!DOCTYPE html>
<html>
<head>
   <title>EcamAir</title>
   <link rel="stylesheet" href="public/css/style.css">
</head>
<body>
   <h1>Validation des réservation</h1>
   
      <h2>Destination : <%= destination %></h2>
      <h2>Liste des passagers</h2>
      <ul>
         <% 
            if(n == 1){%>
               <li><%= travelersList.name %> <%= travelersList.age %> ans </li>
            <% } 
            else{
               for (let i = 0; i < n; i++) { %>
                  <li><%= travelersList.name[i] %> <%= travelersList.age[i] %> ans </li>
              <% } 
            } %>
            
      </ul>
      <br>
      <button onClick="window.location.href='/confirmation';">Etape suivante</button>
      <button action="/" onClick="window.location.href='/';">Annuler la réservation</button>
   

</body>
</html>
